@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: url('/imgs/background_tile.png') repeat;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  justify-content: center;
  min-width: 850px;
}

.communal-container, .results-container {
  position: relative;
  display: block;
  border: 0.2rem solid;
  border-radius: 1rem;
  margin: 1rem;
  overflow: auto;
  white-space: nowrap;
  max-width: 88rem;
  min-height: 8rem;
}

.table-containers, .results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.results-container {
  width: 40rem;
  min-height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.odds-container {
  justify-content: center;
}

.table-card-containers {
  border: 0.2rem solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  min-height: 10.6rem;
  min-width: 12rem;
  padding-bottom: 0.3rem;
}

.table-card-containers:nth-child(2) {
  min-width: 18rem;
}

button {
  color: white;
  font-size: 0.8rem;
  background: none;
  border: 0.1rem solid white;
  border-radius: 1rem;
  padding: 0.3rem;
  margin: 0.3rem;
  min-width: 12rem;
  outline: none;
  cursor: pointer;
}

button.selected-button {
  color: black;
  background: white;  
}

button.disable {
  opacity: 0.5;
}

.small-card {
  width: 5rem;
  height: auto;
  margin: 0.4rem; 
  cursor: pointer;
}

.results-container p {
  font-size: 1.5rem;
}